{% extends "skeleton.html" %}

{% block content %}
<div class="container">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			{% if job %}
				<li class="breadcrumb-item"><a href="{{ jobs_uri }}">jobs</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{ job }}</li>
			{% else %}
				<li class="breadcrumb-item active" aria-current="page"><a href="{{ jobs_uri }}">jobs</a></li>
			{% endif %}
		</ol>
	</nav>

{% if status == "failed" %}
<div class="alert alert-danger" role="alert">
	<center>{{ fail_message }}</center>
</div>
{% elif status != "success" %}
<div class="alert alert-warning" role="alert">
	<center>ruh roh: {{ status }}</center>
</div>
{% else %}
	<div id="d_job_table" style="width: 49%; float: left;">
		<table class="table table-sm table-hover">
			<thead>
				<tr>
					<th>task</th>
					<th>ago</th>
				</tr>
			</thead>
			<tbody class="table-striped table-group-divider">
				{% for job in jobs %}
				<tr style="cursor: pointer;" onclick="window.location.href='{{ job.uri }}'">
					<td class="font-monospace text-dark-emphasis">
						{% if job.match %}
						-> 
						{% endif %}
						{{job.job}}
					</td>
					<td class="font-monospace text-dark-emphasis">{{job.time_since}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div id="d_job_data" style="width: 49%; display: inline-block; padding-top: {{padding_top}}px; padding-left: 25px;">
	{% if job_data %}
		<pre>{{job_data}}</pre>
	{% endif %}
	</div>
</div>
{% endif %}
{% endblock content %}
